################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockMonitor/.vs
/StockMonitor/StockMonitor/bin
/StockMonitor/StockMonitor/obj
